@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Arvo", serif;
}
.logo {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
}
